<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_FeedLayout</title>
</head>
<body>
    <div id="container">
        <div id="header">
            <input type="button" id="addFeedBtn" value="Add Feed"/>
            <input type="button" id="refreshFeedsBtn" value="Refresh Feeds"/>
        </div>
        <div id="feedList"></div>
        <div id="body">
            <div id="storyList"></div>
            <div id="newsBody"></div>
        </div>
    </div>
</body>
</html>
