@{
    Layout = "";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_FeedLayout</title>
    @Styles.Render("~/Content/feedreader")
    @Styles.Render("~/Content/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/feedreader")
</head>
<body>
    <div id="container">
        <div id="header">
            <input type="button" id="addFeedBtn" value="Add Feed" data-bind="click: showAddFeedDialog"/>
            <input type="button" id="refreshFeedsBtn" value="Refresh Feeds" data-bind="click: refreshFeeds"/>
            <input type="text" data-bind="value: searchText"/>
            <input type="button" data-bind="click: searchFeeds" value="Search Feeds"/>
        </div>
        <div id="feedList" data-bind="foreach: feeds">
            <span data-bind="text: name, click: $root.getStories"/>
        </div>
        <div id="body">
            <div id="storyList">
                <table>
                    <thead>
                        <tr>
                            <td>Title</td>
                            <td>Author</td>
                            <td>Date</td>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: stories">
                        <tr>
                            <td data-bind="text: title, click: $root.viewStory"/>
                            <td data-bind="text: author"/>
                            <td data-bind="text: publishedOn"/>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="newsBody" data-bind="html: currentStory().body"/>
        </div>
    </div>
    
    <div class="modal fade" id="addFeedModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-bind="click: closeAddFeedDialog">&times;</button>
                    <h4 class="modal-title">Add Feed</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <label for="feedUrlTxt">Feed Url:</label>
                        <input type="text" id="feedUrlTxt" data-bind="value: addFeedModel.url"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" data-bind="click: closeAddFeedDialog">Close</button>
                    <button type="button" class="btn btn-primary" data-bind="click: addFeed">Add Feed</button>
                </div>
            </div>
        </div>
    </div>
    
    <script type="text/javascript">
        $(document).ready(function() {
            var viewModel = new FeedReader.MainViewModel("/api");
            ko.applyBindings(viewModel);
        });
    </script>
</body>
</html>