@{
    Layout = "";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_FeedLayout</title>
    @Styles.Render("~/Content/feedreader")
    @Styles.Render("~/Content/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/feedreader")
</head>
<body>
    <div id="container">
        <div id="header">
            <input type="button" id="addFeedBtn" value="Add Feed"/>
            <input type="button" id="refreshFeedsBtn" value="Refresh Feeds"/>
        </div>
        <div id="feedList">
            <ul>
                <li>View All</li>
            </ul>
        </div>
        <div id="body" class="clear-fix">
            <div id="storyList">
                <table>
                    <thead>
                        <th>
                            <td>Title</td>
                            <td>Author</td>
                            <td>Date</td>
                        </th>
                    </thead>
                </table>
            </div>
            <div id="newsBody">
                The news story goes here
            </div>
        </div>
    </div>
</body>
</html>