html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#container {
    height: 100%;
}

#feedList {
    float: left;
    width: 20%;
    border: solid 1px black;
    height: 90%;
}

#body {
    float: left;
    width: 77%;
    margin-left: 10px;
    height: 100%;
}

#storyList {
    width: 100%;
    border: solid 1px black;
    height: 20%;
    max-height: 20%;
    overflow: auto;
}

#newsBody {
    margin-top: 1%;
    border: solid 1px black;
    height: 73%;
    overflow: auto;
}

#header {
    display: block;
    width: 100%;
}

.clear-fix:before, .clear-fix:after {
    content: " ";
    display: table;
}

.clear-fix:after {
    clear: both;
}

.clear-fix {
    *zoom: 1;
}
