html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#container {
    height: 100%;
}

#feedList {
    float: left;
    width: 20%;
    border: solid 1px black;
    height: 90%;
}

    #feedList div.feed {
        cursor: pointer;
    }

#body {
    float: left;
    width: 77%;
    margin-left: 10px;
    height: 100%;
}

#storyList {
    width: 100%;
    border: solid 1px black;
    height: 20%;
    max-height: 20%;
    overflow: auto;
}
    
    #storyList table {
        width: 100%;
    }

    #storyList table thead td {
        font-weight: bold;
    }

    #storyList table tbody tr {
        cursor: pointer;
    }

#newsBody {
    margin-top: 1%;
    border: solid 1px black;
    height: 73%;
    overflow: auto;
}

#header {
    display: block;
    width: 100%;
}

.clear-fix:before, .clear-fix:after {
    content: " ";
    display: table;
}

.clear-fix:after {
    clear: both;
}

.clear-fix {
    *zoom: 1;
}
